.oddelki{
   
    width: 100px;
    background-color: yellow
    
}
.slika{
    margin-left: auto;
    margin-right: auto;
    background-color: blue
    
}
.random{
    background-color: green
    
    
}